.root {
  background-color: #0d84fe;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: inline-flex;
  padding: 0.125rem;
  aspect-ratio: 1;
  min-width: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  vertical-align: text-top;
}
