.root {
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -1rem;
  padding: 0;
}

.link {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #7c7c7c;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: underline;
    color: #1d1d1d;
  }
}

.linkActive {
  color: #1d1d1d;
}
